$lightgreen_color: #E5F8EC;
$green_color: #B7F8CE;
$green2_color:#7ba48a;
$white_color: #ffffff;
$black_color: #000000;

$lightviolet_color: #E6DCF2;

.bg-verde{
    background-color: $green_color;
}

