@import "colors";
@import "typography";
@import "animation";

// mixin
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    @include reset-list();
}

// extend
.background {
    border: 1px black;
    opacity: 70%;
    margin: 10px;
    text-decoration: none;
}
.background-title{
    @extend .background;
    border-radius: 20px;
    background-color: $green_color
}
.background-section {
    @extend .background;
    color: $color_indigo;
    background-color: $lightgreen_color;
    border-radius: 20px;
}

// ------------------------------------------------------------ mapa
$redes: (
	facebook: #51aff8,
	instagram: #a32993,
    ubicacion: red,
    email: green
);

.red-facebook {
    background: transparent;
    opacity: 80%;
}
.red-facebook:hover {
    background: $facebook;
    border-radius: 6px;
    border: solid 1px black;
}

.red-instagram {
    background: transparent;
}
.red-instagram:hover {
    background: $instagram;
    border-radius: 6px;
    border: solid 1px black;
}

.red-ubicacion {
    background: transparent;
}
.red-ubicacion:hover {
    background: $ubicacion;
    border-radius: 6px;
    border: solid 1px black;
}

.red-email {
    background: transparent;
}
.red-email:hover {
    background: $email;
    border-radius: 6px;
    border: solid 1px black;
}





// -------------------------------------------------------------GENERAL

body{
    background-image: url("../images/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $first_font;
    color: $black_color;
}

// operacion
$margin10: 10px;
.mt-10{
    margin-top: $margin10*13;
}

// ------------------------------------------------------------HEADER NAVEGADOR
header{
    div{
        div{
            p{
                color: $green2_color;
            }
        }
    }
    div{
        nav{
            div{
                div{
                    ul{
                        li{
                            letter-spacing: 1px;
                            a{
                                background-color: $white_color;
                                &:hover{
                                    font-size: large;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.navbar{
    position:fixed;
    z-index: 2;
}
// -----------------------------------------------------------FOOTER
footer{
    section{
        div{
            a{
                .icon_flotante{
                    position: fixed;
                    z-index: 2;
                    width: 50px;
                    height: 50px;
                    bottom: 50px;
                    right: 50px;
                }
            
            }
        }
    }
}
// sobremi.html
main{
    section{
        div{
            h5{
                margin-bottom: 5%;
                word-spacing: 5px;
            }
            h3{
                text-transform: uppercase;
                margin-bottom: 5%;
            }
        }
    }
}
// inicio
$fondo: black;
$color: violet;
